

<section class="container-fluid align-items-center justify-content-center" >


    <div class="container-fluid pt-5" id="service">
      <div class="container border-top">
          <div class="d-flex align-items-center justify-content-center">
              <h1 class="display-1 text-uppercase">Proyectos</h1>
              <h1 class="position-absolute text-uppercase text-white">Proyectos</h1>
          </div>
          <div class="row pb-3 border-top">
              <div class="col-lg-4 col-md-6 text-center mb-5 mt-3">
                <div class="rounded-5 text-bg-dark">
                  <img src="https://images.pexels.com/photos/1921326/pexels-photo-1921326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top rounded-5" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-secondary btn-action">Ver mas</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center mb-5 mt-3">
                <div class="text-bg-dark rounded-5">
                  <img src="https://images.pexels.com/photos/1089440/pexels-photo-1089440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top rounded-5" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-secondary btn-action">Ver mas</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center mb-5 mt-3">
                <div class="text-bg-dark rounded-5">
                  <img src="https://images.pexels.com/photos/270632/pexels-photo-270632.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top rounded-5" alt="...">
                  <div class="card-body ">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="" class="btn btn-secondary btn-action">Ver mas</a>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>


  </section>
