<div class="pb-5 container-fluid mt-4">  
    <section id="About-me" class="text-center mx-auto rounded-5
    border-radius">

    <h3 > ipsum dolor sit amet consectetur adipisicing elit. Aperiam incidunt ducimus commodi molestias. Blanditiis et nulla veritatis perferendis. Veritatis ut et similique sequi corporis atque quisquam neque assumenda maiores possimus?
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint sapiente consectetur in ratione ullam quo repellat error quod, voluptatem, sequi aspernatur nesciunt quas fuga quia ipsum doloribus quaerat pariatur maiores!
    </h3>

    <div class="row mb-3">
      <div class="col-sm-6 py-2"><h4>Experiencia: <span style="color:#fff;">1 año</span></h4></div>
      <div class="col-sm-6 py-2"><h4>Telefono: <span style="color:#fff;">012 345 6789</span></h4></div>
      <div class="col-sm-12 py-2"><h4>Email: <span style="color:#fff;">ejemplo@ejemplo.com</span></h4></div>
    </div>
