
    <div class="row text-center col-12">
    <div class="container-fluid border-top col-11">
      <div class="d-flex align-items-center justify-content-center">
          <h1 class="display-1 text-black" style="-webkit-text-stroke: 1px #000000;">Educación</h1>
          <h1 class="position-absolute text-white">Educación</h1>
      </div>

    <div class="row text-center">
      <div class="col-sm-6 col-md-3">
        <h3 class="text-center">Informatorio Etapa 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nihil quaerat perferendis non commodi, delectus blanditiis dolore nostrum, earum expedita aliquid sunt laudantium necessitatibus autem similique quas dolores laboriosam. Aliquam?</p>
        <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Ver certificado
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content bg-dark container-fluid justify-content-center align-items-center">
                  <div class="modal-body container-fluid justify-content-center align-items-center">
                    <img src="/assets/img/Certificado Programacion_1.png" width="150%" >
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3 class="text-center">Informatorio Etapa 2</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At minima mollitia rem veniam excepturi recusandae molestias beatae, rerum sit itaque quae possimus omnis nemo laboriosam expedita quidem ipsa. Vero, amet!</p>
        <p class="text-center"><a href="" class="btn btn-secondary btn-action">Ver certificado</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3 class="text-center">Introduccion a la programacion con python</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam autem molestias hic esse a facilis sequi iusto, obcaecati sint reiciendis quod recusandae animi, commodi temporibus ipsum at error. Odio, cumque?</p>
        <p class="text-center"><a href="" class="btn btn-secondary btn-action">Ver certificado</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <h3 class="text-center">Argentina Programa</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus, quaerat deleniti maiores consequuntur voluptatum non doloribus officia rem suscipit. Est ab pariatur distinctio, corrupti eligendi modi tempore voluptas omnis quo?</p>
        <p class="text-center"><a href="" class="btn btn-secondary btn-action">Ver certificado</a></p>
      </div>
    </div>
  </div>
    </div>
