
<body>
    <a href=" "><i style="color: rgba(0, 0, 0, 0.801)" class="fa-solid fa-circle-arrow-left fa-3x"></i></a>
<div class="loginBox"> <img class="user rounded-circle" src="/assets/img/Foto.jpg" height="100px" width="100px">
    <h3>INICIAR SESION</h3>
    
    <form action="login.php" method="post">
        <div class="inputBox"> <input id="uname" type="text" name="Username" placeholder="Usuario"> <input id="pass" type="password" name="Password" placeholder="Contraseña"> </div> <input type="submit" name="" value="Login">
    </form> 
    
</div>
</body>