.Banner{
    background: url('/assets/img/background1.jpg') no-repeat center center/cover;
    height: 10rem;
    padding-bottom: 10rem;
    padding-top: 10rem;
}

img{
    position: relative;
    bottom:60%;
    width: 17rem;
    right:15%;
}


.jbl{
    background: rgba(46, 45, 65, 0.801);
    font-family: 'Zilla Slab', serif;
   box-shadow: 10px 10px 5px;
}

.sobremi{
    margin-top:-10rem;
}

@media screen and (max-width:575px){
    img{
        position: relative;
        bottom:60%;
        width: 17rem;
        left:30%;
    }
}